
#slidewrapper 
{
 margin:0px auto;
 padding:25px;
}

#container 
{
    padding:50px !important;
    font-family: 'Varela', Arial, sans-serif
}
#container .wrapper 
{
    height:200px;
    width:200px;  
}
#container .item 
{
    height:180px;
    width:180px;
    border-radius:1em;   
    opacity:0.7;
    filter:alpha(opacity=70); /* For IE8 and earlier */
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    font-size:24px;
    cursor:pointer;
}
#container .item:hover, #container .activeitem
{
    opacity:1;
    filter:alpha(opacity=100); /* For IE8 and earlier */   
    box-shadow: 10px 10px 5px #888; 
}

#pages 
{
    position:relative;
    margin:-500px auto;
    width:80%;
}

#pages .page {
    position:absolute;
    z-index: 10;
    height: 400px;
    background:#ffffff;
    border-radius:1em;   
    box-shadow: 10px 10px 10px 10px #888; 
    display: none;
    left:15px;
    right:15px;
    
}

#pageDisplay 
{
    padding:40px;
    font-size:200%;
    color:#333;
}

.pagecontent 
{
    overflow:auto;
    height:425px;
}

#pageDisplay ul {
    line-height:125%;
    float:left;
    width:90%;
}

#pageCloser 
{
    float:right;
    width:10%;
    cursor:pointer;
}


.red 
{
    background:#FF542E;
}

.yellow 
{
    background:#F2BC00;
}

.gray 
{
    background:#C7BAA7;
}

.blue1 
{
    background:#CFD6DE;
}

.blue2
{
    background:#ADC1D6;
}

.blue3
{
    background:#7297BA;
}

pre 
{
    font-family:Courier !important;
    background:#dedede;
    border:1px solid #ccc;
    font-size:15px !important;
    margin:0;
    padding:0;
}